<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./about.component.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Metodologie ITKompas: Nalezení nejbližší shody</h2>
                        <p class="lead">Tento projekt byl vytvořen v rámci bakalářské práce Martina Krejčího s cílem pomoci studentům najít studijní programy, které nejlépe odpovídají jejich osobním a profesionálním zájmům. Rozhodování o tom, kam pokračovat ve studiu, může být složité, ale naše kalkulačka zjednodušuje tento proces tím, že analyzuje vaše odpovědi na sérii předem stanovených otázek. Tyto otázky pokrývají široké spektrum kritérií, od akademických požadavků až po osobní preference, aby vám poskytly přehledné a cílené doporučení.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Algoritmus nalezení ideálního kandidáta.</h2>
                        <p class="lead">V sekci 'Univerzity' najdete seznam univerzit, které nabízí studijní programy v oblasti IT, a zároveň splňují naší definici studijního IT oboru. Tato sekce nabízí podrobnější informace o jednotlivých univerzitách a jejich nabízených studijních programech, společně s odkazy na oficiální stránky univerzit.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Výběr univerzit a studijních oborů</h2>
                        <p class="lead">Tlačítko 'Spusť Test' skrývá interaktivní test, který nám pomůže poznat vaše zájmy a preference. Na základě vašich odpovědí vám náš algoritmus doporučí studijní programy, které by pro vás mohly být zajímavé. 

                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Metodologie</h2>
                        <p class="lead">V sekci 'Metodologie' najdete informace o tom, jakým způsobem jsme vybrali studijní programy, které vám doporučujeme. Také se zde dozvíte, která kritéria studijních oborů tento nástroj zkoumá, a jakým způsobem pracuje náš algoritmus pro vyhodnocení ideálního studijního programu.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>